@model List<AgroNegocios.DAL.Team>
<link href="~/Content/admin/users.css" rel="stylesheet" />

@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    table img {
        border-radius: 50%;
        height: 60px;
        width: 60px;
    }
</style>

<div class="table-users text-center">
    <div class="header">
        <span>צוות</span>
        <a href="#" onclick="location.href='@Url.Action("TeamAddOrEdit", "Admin", new { ID = 0 })'" style="float: right;color:white"><i class="fa fa-plus"></i></a>
    </div>

    <table cellspacing="0">

        <tr>
            <th class="text-center">תמונה</th>
            <th class="text-center"> מחיקה </th>
            <th class="text-center"> עריכה </th>
            <th class="text-center">תפקיד</th>
            <th class="text-center">שם מלא</th>
        </tr>

        @if (Model != null && Model.Count > 0)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td><img src="~/img/bg-img/@Model.ElementAt(i).image" alt="" /></td>
                    <td> <i onclick="location.href='@Url.Action("TeamDelete", "Admin", new { ID = Model.ElementAt(i).id })'" class="fa fa-close pntr" style="cursor:pointer"></i> </td>
                    <td> <i onclick="location.href='@Url.Action("TeamAddOrEdit", "Admin", new { ID = Model.ElementAt(i).id })'" class="fa fa-pencil" style="cursor:pointer"></i> </td>
                    <td>@Model.ElementAt(i).role</td>
                    <td>@Model.ElementAt(i).name</td>
                </tr>
            }
        }

    </table>
</div>